#navBar {
  height: 100vh;
  width: 12vw;
  padding: 3%;
  text-align: center;
  background-color: silver;
  float: left;
}

#navBar img {
  width: 100%;
  margin: 8% auto;
}

.navItem {
  display: inline-block;
  width: 100%;
  margin-top: 5%;
  color: #fff;
}

#dashboardContent {
  width: 71vw;
  float: right;
  margin: 2%;
}

/******Students block******/
#studentsBlock {
  width: auto;
}

#studentsBlock ul {
  list-style: none;
}

.studentCard {
  border: 1px solid black;
  margin: 2%;
  width: 12vw;
  height: 11vh;
  display: inline-block;
  text-align: center;
}

#studentCardName {
}

/******Students block******/
#student {
  height: 120vh;
  width: 18vw;
  padding: 3%;
  text-align: center;
  background-color: silver;
  float: right;
}

/******Dashboard HEader******/
#dashboardHeader {
  width: 100%;
  margin: 0;
  float: left;
}

/******Blocks******/
#blocks {
}

.blockCard {
  display: inline-block;
  width: 8vw;
  height: 15vh;
  margin: 4%;
  border: 1px solid grey;
}
